* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.navigation {
  position: relative;
  height: 75px;
  background-color: #0e1c48;
}

.navigation .desktop h1 {
  position: absolute;
  left: 50px;
  width: 500px;

  color: white;
  font-weight: 400;
}

.navigation li {
  height: 100%;
  margin: 0px 5px 0px 5px;
}

.navigation .nav-link {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0px 15px 0px 15px;

  height: 100%;
  width: 100%;

  color: white;
  text-decoration: none;
  font-size: 20px;

  transition: background-color 0.2s;
}

.navigation .nav-link:hover {
  background-color: #1a2c66;
}

.navigation .desktop {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
}

.navigation .desktop ul {
  margin: 0;

  position: absolute;
  right: 0;

  margin: 0;
  padding: 0px 50px 0px 50px;

  display: flex;
  list-style-type: none;

  height: 100%;
}

.navigation .mobile {
  position: relative;
  display: block;
  height: 100%;
  z-index: 1;
}

.navigation .mobile button.toggle {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;

  position: absolute;
  right: 0;
  top: 0;
}

.navigation .mobile button.toggle svg {
  fill: white;
  width: 32px;
  height: 32px;
}

.navigation .mobile h1 {
  margin: 0;
  padding: 0px 0px 0px 25px;
  color: white;

  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.navigation .mobile h1 .name {
  display: block;
  font-size: 24px;
  font-weight: 400;
}

.navigation .mobile h1 .job {
  display: block;
  font-size: 18px;
  font-weight: 400;
}

.navigation .mobile ul {
  position: absolute;
  top: 100%;
  right: 0;
  margin: 0;
  padding: 0;
  display: block;
  background-color: #1a2c66;
  list-style-type: none;
}

.navigation .mobile li {
  margin: 0;
}

.navigation .mobile .nav-link {
  width: 200px;
  padding: 15px 0px 15px 0px;
}

.navigation .mobile .nav-link:hover {
  background-color: #20367c;
}

.navigation .mobile .toggle {
  height: 100%;
}

.navigation .mobile .toggle:hover {
  background-color: #1a2c66;
}

div.main {
  position: relative;
  padding: 0px;

  width: 100%;

  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  overflow: hidden;

  min-height: 100vh;
}

.outer-container {
  width: 100%;
  max-width: 1600px;

  position: relative;
  left: 50%;
  transform: translateX(-50%);

  padding: 0px 25px 0px 25px;
}

section.personal {
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: 75px 0px 75px 0px;
}

section.projects {
  padding: 0px 0px 75px 0px;
}

h2 {
  font-size: 32px;
  font-weight: 400;
  color: black;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.introduction {
  max-width: 600px;
}

.main > .content {
  grid-column: 1 / 2;
}

.skill-container {
  grid-column: 2 / 3;

  padding: 50px 25px 50px 25px;
  width: 100%;
  height: 100%;
  background-color: #e6e6e6;
}

.skill-container > .title {
  font-size: 32px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 25px;
  line-height: 1.2;
}

.skill-container > ul {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skill-group {
  margin: 0px 0px 50px 0px;
}

.skill-title {
  margin: 0px 0px 10px 0px;
  font-weight: 400;
  font-size: 24px;
}

.skill-list {
  list-style-type: none;
  padding: 0px;
}

.skill-list li {
  font-size: 18px;
}

.project-list {
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
}

div.project {
  width: 280px;
  margin: 10px;

  box-shadow: 8px 8px 5px rgb(199, 199, 199);
}

div.project .label {
  font-size: 24px;
  margin: 0px 0px 10px 0px;
}

div.project .image-container img {
  width: 100%;
  height: 100%;

  cursor: pointer;
}

div.project .image-container {
  display: block;
  position: relative;

  width: 100%;
  height: 240px;
}

div.project .image-container {
  color: white;
  text-decoration: none;
}

div.project .image-container .overlay .read-more {
  font-size: 18px;
  text-decoration: underline;
}

div.project .image-container:hover .overlay {
  opacity: 1;
}

div.project .image-container .overlay {
  opacity: 0;
  transition: opacity 0.2s;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

div.project .description {
  padding: 20px 15px 20px 15px;
  background-color: #2d2d2d;
  font-size: 16px;
  color: white;
  height: 120px;
}

.b-project section.title {
  margin-top: 50px;
}

.b-project h3 {
  font-size: 24px;
  font-weight: 400;
  margin: 0px 0px 25px 0px;
}

.b-project section.purpose {
  margin-top: 30px;
  margin-bottom: 50px;
}

.b-project .text {
  max-width: 900px;
  line-height: 1.8;
}

.b-project section.development {
  margin-bottom: 50px;
}

.b-project section.future {
  margin-bottom: 30px;
}

@media only screen and (min-width: 960px) {
  .navigation .desktop {
    display: block;
  }

  .navigation .mobile {
    display: none;
  }

  div.main {
    display: grid;
    grid-template-columns: auto 300px;
  }

  .outer-container {
    padding: 0px 25px 0px 25px;
  }

  .skill-container {
    padding: 0px 25px 0px 25px;
  }

  .skill-container > ul {
    display: block;
  }
}

@media only screen and (min-width: 1200px) {

  .outer-container {
    padding: 0px 50px 0px 50px;
  }

  section.personal {
    padding: 75px 0px 75px 0px;
  }

  section.projects {
    padding: 0px 0px 75px 0px;
  }
}
